#cloud-config
hostname: ${HOSTNAME}
users:
  - default
  - name: ${USERNAME}
    groups: [canarybit]
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    ssh_authorized_keys:
      - ${SSH_PUBKEY}

timezone: UTC

package_update: true
package_upgrade: true
package_reboot_if_required: true
packages:
  - libtss2-dev
  - jq

write_files:
  # Set environment variables for cbclient systemd service
  - path: /etc/canarybit/tokens
    permissions: '0600'
    defer: true
    content: |
      CB_TOKENS='${CB_TOKENS}'

  # A signing key to identify the current cVM instance
  - path: /etc/canarybit/signing-key.pem
    defer: true
    permissions: '0600'
    content: |
      ${SIGNING_KEY}

  # Configure cbclient as a System service
  - path: /etc/systemd/system/cbclient.service
    defer: true
    permissions: '0600'
    content: |
      [Unit]
      Description=CanaryBit Remote Attestation

      [Service]
      EnvironmentFile=/etc/canarybit/tokens
      Environment="CBCLIENT_LOG_LEVEL=info"
      Environment="CBCLIENT_ENVIRONMENTS=${ENVIRONMENTS}"
      Environment="CBCLIENT_INSPECTOR_URL=${CBINSPECTOR_URL}"
      Type=oneshot
      ExecStart=/bin/bash -c '/usr/local/bin/cbclient attestation --token $$(cb login inspector) --key /etc/canarybit/signing-key.pem'
      SuccessExitStatus=0

      [Install]
      WantedBy=multi-user.target

  # cbclient.service - Call failure.service if attestation fails
  - path: /etc/systemd/system/cbclient.service.d/failure.conf
    defer: true
    permissions: '0600'
    content: |      
      [Unit]
      OnFailure=failure.service

  # Disable cbclient.service on failure
  - path: /etc/systemd/system/failure.service
    defer: true
    permissions: '0600'
    content: |
      [Service]
      ExecStart=systemctl disable cbclient.service

  # Initialize the cbclient systemd service
  - path: /etc/canarybit/launch-cbclient
    defer: true
    permissions: '0755'
    content: |
      #!/bin/bash

      # Download the CanaryBit CLI (cb) into /usr/local/bin
      curl -fsSL https://canarybit-public-binaries.s3.eu-west-1.amazonaws.com/cb-cli/${CBCLI_V}/cb-x86_64-unknown-linux-gnu -o cb; chmod +x cb; mv cb /usr/local/bin/cb

      # Download the CanaryBit Inspector agent (cbclient) into /usr/local/bin
      CB_TOKENS='${CB_TOKENS}' cb download cbclient ${CBCLIENT_V}/cbclient; chmod +x cbclient; mv cbclient /usr/local/bin/cbclient

      # Start cbclient as System service
      systemctl enable cbclient.service; systemctl start cbclient.service

runcmd:
  # Launch cbclient as systemd service
  - /etc/canarybit/launch-cbclient

final_message: |
  ==========   CANARYBIT TOWER SETUP COMPLETED IN $UPTIME secs    ==========
  The security and privacy of this environment is verified by CanaryBit Remote Attestation service:
  ${CBINSPECTOR_URL}
